.chat-container{

}


.chat-history {
    overflow-y: auto;
    height: calc(85vh);

}

.chat-history::-webkit-scrollbar {
    width: 10px;
}

.chat-history::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.chat-history::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    padding: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.user-message {
    margin-left: 30px;
    text-align: right; /* 오른쪽 정렬 */
    background-color: #308efe;
    color: white;
    /*border-radius: 5px;*/
    /*padding: 5px 10px;*/
    /*margin-bottom: 10px;*/
    /*align-self: flex-end;*/
    border-radius: 10px; /* 둥근 모서리 설정 */
    padding: 8px 12px; /* 내용과 경계 사이 간격 설정 */
    margin-bottom: 10px; /* 말풍선 간격 설정 */

}

.ai-message {
    margin-right : 30px;
    text-align: left;
    background-color: deepskyblue;
    color: white;
    /*border-radius: 5px;*/
    /*padding: 5px 10px;*/
    /*margin-bottom: 10px;*/
    /*align-self: flex-start;*/
     border-radius: 10px; /* 둥근 모서리 설정 */
     padding: 8px 12px; /* 내용과 경계 사이 간격 설정 */
     margin-bottom: 8px; /* 말풍선 간격 설정 */

}


.message-icon {
    font-size: 1.5em;
    margin-right: 5px;
}

.custom-bot-response {
  background-color: #ffcc00; /* 배경색 변경 */
  color: #000; /* 글자색 변경 */
  font-weight: bold; /* 글꼴 굵게 설정 */
  /* 다른 스타일 속성 추가 가능 */
}

.event{
    background-color:#212936;
}